<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Main Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="ionicForm">
    <ion-item>
      <ion-label position="floating">Database Name:</ion-label>
      <ion-input formControlName="databaseName" type="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Schema Name:</ion-label>
      <ion-input formControlName="schemaName" type="text"></ion-input>
    </ion-item>

    <ion-button type="submit" (click)="sendMakeDB()">
      Create Database
    </ion-button>
  </form>

  <ion-button (click)="sendBatchData()">
    Send Batch Data from File
  </ion-button>

  <ion-button (click)="sendDeleteAll()">
    Delete All Documents from Database
  </ion-button>

  <!-- <h3>Error Out Message: {{outMsg.msg}}</h3> -->
</ion-content>